$milky-way-blue: #15003e;
$stardust-yellow: #ffce08;
$cosmic-teal: #25e899;
$dark-cosmic-teal: #0fce7c;
$polaris-blue: #6f3ff5;
$reg-teal: #15d9c5;
$background: #0f0333;
$orangeGradient1: linear-gradient(
  184.23deg,
  #ff86b1 40.25%,
  #ff2473 66.63%,
  #ffe924 98.48%
);
$orangeGradient2: linear-gradient(
  176.9deg,
  #ff86b1 23.91%,
  #ff2473 65.82%,
  #ffe924 116.41%
);

@mixin orangeGradient {
  background: $orangeGradient1;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

body {
  padding: 80px;
  background-color: $background;
  font-family: "Days One", sans-serif;
}

.navBar {
  float: right;
  margin: -50px 0px;
}

.underscoreDanceText {
  @include orangeGradient();
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  transform: rotate(-0.84deg);
  background-size: 100%;
}

.metaMaskText {
  @include orangeGradient();
}

.metaMaskButton {
  padding: 5px;
  border-radius: 4px;
}

.purpTeal {
  background: linear-gradient(182.51deg, #6f3ff5 -4.54%, #16dac5 200.21%);
  border-radius: 8px;
}

.inactiveRound {
  background: linear-gradient(182.51deg, #473e66 -4.54%, #5b726f 200.21%);
  border-radius: 8px;
}

.imgBorder {
  border: 1px solid;
  border-radius: 4px;
  border-image-slice: 1;
  border-image-source: $orangeGradient1;
}

.xButton:hover {
  background: $orangeGradient2;
}

.darkCard {
  background-color: $background;
  border-radius: 20px;
  border: 1px solid #7e3ff5;
  box-sizing: border-box;
}

.bracketCard {
  display: flex;
  width: 275px;
  height: 100px;
}

.yellowText {
  color: #ffe924;
}

.tealText {
  color: #05f5bc;
}

.polarisText {
  color: $polaris-blue;
}

.bg-grid {
  background-image: url(../assets/gitcoin/bgGrid.svg);
}

.carouselCard {
  height: 200px;
  width: 180px;
}

.marginTen {
  margin: 10px;
}

.paddingTwenty {
  padding: 20px;
  justify-content: space-around;
}

.paddingForty {
  padding: 40px;
  justify-content: space-around;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.textAlign {
  text-align: center;
  margin-bottom: 0px;
}

.link {
  display: inline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ellipsisTruncation {
  white-space: nowrap;
  text-overflow: ellipsis;
}

hr {
  border: 0;
  height: 2px !important;
  position: relative;
  background: linear-gradient(
    left,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 0, 0, 0) 15%,
    rgba(111, 63, 245, 0.65) 50%
  ); /* W3C */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 0, 0, 0) 15%,
    rgba(111, 63, 245, 0.65) 50%
  ); /* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
}

hr:before {
  content: "";
  display: block;
  border-top: solid 1px rgba(255, 100, 100, 0.1);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}

.ant-btn-ghost {
  color: white !important;
  border: 2px solid !important;
  border-image-slice: 1 !important;
  border-image-source: $orangeGradient2 !important;
}

.ant-modal .ant-btn-ghost:hover {
  background: $orangeGradient2 !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 8px !important;
}

.ant-btn-lg {
  height: 60px !important;
  padding: 12.4px 25px !important;
  font-size: 24px !important;
  border-radius: 2px !important;
}

.ant-modal-close-x {
  width: 76px !important;
  border-radius: 4px !important;
  font-size: 24px !important;
  color: white !important;
}

.slick-list {
  margin: 0 -5px;
}

.slick-slide > div {
  padding: 0 5px;
}
