$milky-way-blue: #15003e;
$stardust-yellow: #ffce08;
$cosmic-teal: #25e899;
$dark-cosmic-teal: #0fce7c;
$polaris-blue: #6f3ff5;
$reg-teal: #15d9c5;
$background: #0f0333;

body {
  // background-color: $stardust-yellow !important;
  padding: 80px !important;
  font-family: "Miriam Libre", sans-serif !important;
  background-color: $background !important;
}

.underscoreDance {
  font-family: "Caveat", cursive;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(
    184.23deg,
    #ff86b1 40.25%,
    #ff2473 66.63%,
    #ffe924 98.48%
  );
  line-height: 23px;
  /* identical to box height */

  text-align: center;

  transform: rotate(-0.84deg);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.purp-teal {
  background: linear-gradient(182.51deg, #6f3ff5 -4.54%, #16dac5 200.21%);
  border-radius: 8px;
  font-family: "Days One", sans-serif;
}

.imgBorder {
  border: 1px solid;
  border-image-source: linear-gradient(
    184.23deg,
    #ff86b1 40.25%,
    #ff2473 66.63%,
    #ffe924 98.48%
  );
  border-image-slice: 1;
}

.ant-btn-ghost {
  color: white !important;
  font-family: "Days One", sans-serif !important;
  margin: 0px 275px;
  border: 2px solid !important;
  border-image-slice: 1 !important;
  border-image-source: linear-gradient(
    176.9deg,
    #ff86b1 23.91%,
    #ff2473 65.82%,
    #ffe924 116.41%
  ) !important;
}

.slick-list {
  margin: 0 -5px;
}
.slick-slide > div {
  padding: 0 5px;
}
.dark-card {
  background-color: $background;
  border-radius: 20px;
  font-family: "Days One", sans-serif;
  border: 1px solid #7e3ff5;
  box-sizing: border-box;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 8px !important;
}

.ant-btn-lg {
  height: 60px !important;
  padding: 12.4px 25px !important;
  font-size: 24px !important;
  border-radius: 2px !important;
}

.yellowText {
  color: #ffe924;
  font-family: "Days One", sans-serif;
}

.tealText {
  color: #05f5bc;
  font-family: "Days One", sans-serif;
}

.bg-grid {
  background-image: url(./assets/gitcoin/bgGrid.svg);
  // background-size: 40px 40px;
  // background-image: linear-gradient(
  //     to right,
  //     transparent,
  //     $polaris-blue 1px,
  //     transparent 1px
  //   ),
  //   linear-gradient(to bottom, $polaris-blue 1px, transparent 1px);
}

.marginTen {
  margin: 10px;
}

.paddingTwenty {
  padding: 20px;
  justify-content: space-around;
}

.paddingForty {
  padding: 40px;
  justify-content: space-around;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.textAlign {
  text-align: center;
  margin-bottom: 0px;
}

.link {
  display: inline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.ellipsisTruncation {
  // width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

hr {
  border: 0;
  height: 2px !important;
  margin: 18px;
  position: relative;
  background: linear-gradient(
    left,
    rgba(255, 0, 0, 0) 0%,
    rgba(255, 0, 0, 0) 15%,
    rgba(111, 63, 245, 0.65) 50%
  ); /* W3C */
  background: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 0, 0, 0) 15%,
    rgba(111, 63, 245, 0.65) 50%
  ); /* Chrome10+,Safari5.1+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ff0000', endColorstr='#00ff0000',GradientType=1 ); /* IE6-9 */
}

hr:before {
  content: "";
  display: block;
  border-top: solid 1px rgba(255, 100, 100, 0.1);
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50%;
  z-index: 1;
}
