$milky-way-blue: #15003e;
$stardust-yellow: #ffce08;
$cosmic-teal: #25e899;
$dark-cosmic-teal: #0fce7c;
$polaris-blue: #6f3ff5;

body {
  background-color: $stardust-yellow !important;
  padding: 0px !important;
  font-family: "Miriam Libre", sans-serif !important;
  color: $milky-way-blue !important;
}

.milkyBackground {
  background-color: $milky-way-blue;
  max-width: 100%;
}

.greenText {
  color: $cosmic-teal;
}

.clockText {
  font-family: "VT323", monospace;
  font-size: 30px;
  background-color: $dark-cosmic-teal;
  padding: 10px;
}

.marginTen {
  margin: 10px;
}

.paddingTwenty {
  padding: 20px;
  justify-content: space-around;
}

.flexCenter {
  display: flex;
  justify-content: center;
}

.textAlign {
  text-align: center;
  margin-bottom: 0px;
}

.link {
  display: inline;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.link:hover {
  transform: scale(1.1);
  color: $polaris-blue;
}
